{% extends 'account/account_template.html.twig' %}

{% block account_body %}
    <div class="row">
        <div class="col-12 col-md-12 ps-md-4 mb-5">
            <h4 class="mb-4">Nazwa Użytkownika: {{ app.user.username }}</h4>

            <h4 class="mb-4">Twoje Hasło: ************</h4>

            <div class="card card-body">
                {{ form_start(changePasswordForm) }}
                    <div class="mb-3">
                        {{ form_label(changePasswordForm.oldPassword, 'Stare Hasło') }}
                        {{ form_widget(changePasswordForm.oldPassword, {'attr': {'class': 'form-control mt-2 mb-2'}}) }}
                        
                        <div class="error-msg">
                            {{ form_errors(changePasswordForm.oldPassword) }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        {{ form_label(changePasswordForm.newPassword.first) }}
                        {{ form_widget(changePasswordForm.newPassword.first, {'attr': {'class': 'form-control mt-2 mb-2'}}) }}

                        <div class="error-msg">
                            {{ form_errors(changePasswordForm.newPassword.first) }}
                        </div>

                        {{ form_label(changePasswordForm.newPassword.second) }}
                        {{ form_widget(changePasswordForm.newPassword.second, {'attr': {'class': 'form-control mt-2 mb-2'}}) }}

                        <div class="error-msg">
                            {{ form_errors(changePasswordForm.newPassword.second) }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark">Zmień Hasło</button>
                {{ form_end(changePasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %}
