{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }} 
    <script src="{{ asset('assets/js/shows_ranking.js') }}"></script>
    <script src="{{ asset('assets/js/find_episode.js') }}"></script>
    <script src="{{ asset('assets/js/find_show.js') }}"></script>
{% endblock %}

{% block body %}
    {{ include('index/_header.html.twig') }}

    <hr class="light-hr mt-20 mb-3">

    <main>
        <div class="container-fluid mt-5 px-4 pe-4">
            {% if userWatchingHistory is iterable and userWatchingHistory|length is not same as(0) %}
                <section class="recently-watched-shows">

                    <h4 class="mb-4">#Ostatnio oglądane</h4>

                    <div class="row mb-5">
                        {% for visit in userWatchingHistory %}
                            <div class="xol-xs-12 col-sm-6 col-md-3">
                                <div class="card mb-3">
                                    <img class="recently-watched-show-picture" src="{{ asset('assets/pictures/shows/'~visit.series.picture) }}" alt="{{ visit.series.name }} show picture">
                                    <div class="card-body">
                                        <a class="text-decoration-none" href="{{ path('show_index', {'showTableName' : visit.series.databaseTableName, 'episodeId': visit.episodeId }) }}">
                                            <h5 class="card-title">
                                                {{ visit.series.name }}
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div> 
                </section>
            {% endif %}

            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3>#<span class="text-purple">Pojedynek</span> Seriali</h3>
                            <div class="row" id="container-for-shows-to-compare"></div>
                        </div>
                    </div> 

                    <div class="card mt-5 mb-2">
                        <div class="card-body">
                            <h3 class="cursive text-center">Top <span class="text-purple">15</span> seriali</h3>
                            <div class="mt-3">
                                {% if showsRanking is iterable and showsRanking|length is not same as(0) %}
                                    {% for show in showsRanking %}
                                        <a class="nav-link side-menu card-custom-link"
                                        href="{{ path('show_index', {'showTableName' : show.show_database_table_name}) }}">{{ show.show_name }}</a>
                                    {% endfor %}
                                {% else %}
                                    <h4 class="mt-3 text-center">Ranking jest chwilowo niedostępny</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    {% if showsLatestEpisodes is iterable and showsLatestEpisodes|length is not same as(0) %}
                        <div class="row">
                            {% for episode in showsLatestEpisodes %}
                                {% if episode is iterable %}
                                    <div class="xol-xs-12 col-sm-6 col-md-4">
                                        <div class="card mb-2">
                                            <img class="latest-episode-picture" src="{{ asset('assets/pictures/shows/'~episode.picture) }}" alt="{{ episode.picture }}">
                                            <div class="card-body">
                                                <a class="text-decoration-none" href="{{ path('show_index', {'showTableName' : episode.database_table_name, 'episodeId': episode.id}) }}">
                                                    <h5 class="card-title">
                                                        {{ episode.show_name }}  {{ episode.title }}
                                                    </h5>
                                                </a>
                                            </div>
                                            <div class="card-footer text-muted">
                                                {{ episode.created_at }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <h4 class="text-center">W ostatnim czasie nie dodano żadnego nowego odcinka</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}